<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scatch | Manage Users</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/all.css">
</head>
<body>
    <%- include("./partials/adminNav") %>
<div class="h-full w-full">
    <div class="mx-4">
        Users count: <%= allUsers.length %>
    </div>
</div>
</body>
</html>