<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scatch | Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/all.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="bg-[#F1F1F1]">
    <div class="h-screen w-full flex justify-center mt-24">
        <div class="shadow-card rounded-md h-[26rem] w-72 bg-[#FFFFFF]">
            <div class="flex justify-center">
                <i class="mt-6 text-3xl fa-solid fa-user" style="color: #6e6eff;"></i>
            </div>
            <div class="mt-2 text-center font-bold text-xl">Create account!</div>
            <form action="/user/signup" method="post" class="flex flex-col">
                <input class="outline-none border-b border-zinc-400 p-2 mt-6 mx-4" type="text" placeholder="Full name..." name="name" required>
                <input class="outline-none border-b border-zinc-400 p-2 mt-6 mx-4" type="email" placeholder="Email address..." name="email" required>
                <input class="block outline-none border-b border-zinc-400 p-2 mt-6 mx-4" type="password" placeholder="Password..." name="password" required>
            <div class="flex justify-end mx-4 text-blue-600">
                <a href="/" class="mt-4 text-right mx-4">Login</a>
            </div>
            <input class="block bg-blue-600 text-white px-5 py-2 mx-auto rounded-md mt-4" type="submit" value="Create">
            </form>
        </div>
    </div>
</body>
</html>